DateTime==5.4
lxml==5.1.0
robot-mongodb-library==0.0.5
robotframework==7.3.2
robotframework-debuglibrary==2.5.0
robotframework-jsonlibrary==0.5
robotframework-mongodb-library==3.2
robotframework-pabot==4.2.0
robotframework-requests==0.9.7
robotframework-robocop==6.5.0
robotframework-selenium-mouseextensions==0.1
robotframework-seleniumlibrary==6.7.1
robotframework-seleniumtestability==2.1.0
robotframework-stacktrace==0.4.1
robotframework-tidy==4.18.0
robotframework-browser==19.6.2
robotcode-runner==1.5.0